.contact-page {
    
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .contact-details {
    padding-right: 20px;
    border-right: 1px solid #ccc;
  }

  button.btn.btn-primary.submit_btn {
    margin-top: 22px;
}
  
.contact-details p {
  margin: 20px 15px;
}
  
  .contact-details i {
    margin-right: 10px;
  }
  a.social-icon {
    color: var(--bs-nav-link-color);
    font-size: 21px;
    margin: 0 8px;
}