.skillsPage {
 
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    padding: 50px 0;
  }
  
  .AnupTitle h2 {
    font-size: 2.5rem;
    color: var(--bs-nav-link-color) !important;;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .skills-text {
    text-align: left;
    
  }
  
  .skills-text h3 {
    font-size: 1.75rem;
    color: var(--bs-nav-link-color) !important;
  }
  
  .skills-text p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--bs-nav-link-color) !important;
  }
  
  .skill-logo img {
    transition: transform 0.3s ease;
  }
  
  .skill-logo img:hover {
    transform: scale(1.1);
  }
  
  .skill-logo p {
    font-size: 0.85rem;
    color: var(--bs-nav-link-color) !important;
    margin-top: 10px;
    font-weight: bold;
  }
  